body {
  background-color: #202d3f;
}

h1.display-4 {
  padding-top: 3rem;
}

.bd {
  list-style: none !important;
}

.img.card-img {
  width: 150px;
  height: 150px;
  margin: 10px;
  vertical-align: unset;
  padding: 0;
  margin-top: 15px;
  margin-left: 15px;
}