/* You can add global styles to this file, and also import other style files */

 body {
   font-family: font-montserrat-bold;
   //background-image: url('../src/assets/25552.jpg');
  
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.p-button-raised span.p-button-label {
  /* if child give space */
  font-size: 0;
}

.center {
  margin: 0 auto;
  display: block;
}

.p-table, .p-fileupload-row > div {
  width: fit-content !important;
}

.p-fileupload .p-fileupload-row > div {
  color: #297bd6;
  font-size: 20px;
  font-family: font-montserrat-bold;
}

.p-datatable {
  .p-datatable-thead tr th {
    color: #2d82e8;
    text-align: center;
    font-weight: 680;
  }

  .p-datatable-tbody tr td {
    text-align: center;
  }
}

a {
  color: #495057;
  text-decoration: none;

  &:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
  }
}
.content{
    
  padding:0 10px;
}
.theme-options{
  max-width: 800 px;
  margin: 0 auto;
  text-align: right;
  padding: 10px 0;
  div{
      cursor: pointer;
      width: 20px;
      height: 10px;
      border-radius: 4px;
      margin: 2px 10px;
      border: 1px solid #fff;
      display: inline-block;
      opacity: 0.5;
      &.active{
          opacity: 1;
      }
  }
  #theme-blue{
      background-color: #1e41c1;
  }
  #theme-orange{
      background-color: #b64b1e;
  }
  #theme-black{
      background-color:#000000;
  }
}
.card-title{
  color:#08196f;
  font-size: x-large;
  //color:#eb7f25
}

.content-boxtheme-blue{
  min-height: calc(100vh - 60px);
  background-image: url('../src/assets/25552.jpg') !important;
  font-family: font-montserrat-bold;
  // background-image: url('../src/assets/25552.jpg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.content-boxtheme-black{
  min-height: calc(100vh - 60px);
  background-image: url('../src/assets/black(1).jpg') !important;
  font-family: font-montserrat-bold;
  // background-image: url('../src/assets/25552.jpg');

  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.content-boxtheme-orange{
  min-height: calc(100vh - 60px);
  background-image: url('../src/assets/image.jpg') !important;
  font-family: font-montserrat-bold;
  // background-image: url('../src/assets/25552.jpg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-image{
    opacity: 0.2;
  }
 
  background-size: cover;
 
}
ul{
  list-style-type: none;
}
.card-text{
  font-size: large;
  color:#000000;
}

  


@import "~bootstrap/dist/css/bootstrap.min.css";